<!DOCTYPE html>
<html>
<head>
    <title>DreamTrip</title>
    <link rel="stylesheet" href="/styles/dreamtrip.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans|Old+Standard+TT" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
    <div id="content">

        <%- include header.ejs %>
        <h1><%= showUsers.name %></h1>
        
        <main>
            <% showTrips.forEach(trip =>{ %>
                <div class="postCard">
                    <h1><%= trip.title %></h1>
                    <table >
                        <tr>
                            <th>Destinasi</th>
                            <td><%= trip.location  %></td>
                        </tr>
                        <tr>
                            <th>Tanggal</th>
                            <td><%= trip.date  %></td>
                        </tr>
                        <tr>
                            <th>Biaya</th>
                            <td><%= trip.cost  %></td>
                        </tr>
                        <tr>
                            <th>Meet Point</th>
                            <td><%= trip.meet_point  %></td>
                        </tr>
                        <tr>
                            <th>Max Participant</th>
                            <td><%= trip.max  %></td>
                        </tr>
                    </table>

                    <div>
                            <input type="hidden" name="user_id" value="<%= trip.user_id %>">
                            <a href="/trip/<%= trip.id %>/edit"> Edit </a> |
                            <a href="/trip/<%= trip.id %>/delete"> Delete </a> |
                            <a href="/trip/<%= trip.id %>"> Detail </a>
                    </div>

                </div>
            <% }) %>


        </main>

        

        <nav>
            <div class="asideForm">
                <hr>
                <h2>FILTER</h2>
                <div>
                    <button type="button" class="newTripBtn"><a href="/trip/<%= showUsers.id %>/add">CREATE TRIP</a></button>
                </div>
               

            </div>
        </nav>

        <section></section>
        <footer></footer>

    </div>
    
</body>
</html>